node_modules
dist
coverage
.env
.git
npm-debug.log
.DS_Store
.agents
.codex
.github

test
src/**/test
src/**/*.spec.ts
src/**/*.test.ts

README.md
API.md
ARCHITECTURE.md
FrontendScope.md

Dockerfile
Dockerfile.prod
docker-compose.yml
drizzle
drizzle.config.ts
eslint.config.mjs
.prettierrc
tsconfig.tsbuildinfo
